.about_me_div{ 
    h1{ 
        text-align: center; 
        color: #191919; 
        font-size: 6rem; 
        font-weight: 600; 
        letter-spacing: -0.5rem; 
        margin-bottom: 3rem; 
    }
}

.about_me_container{ 
    margin-bottom: 5rem; 
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between; 
    gap: 10rem; 
}

.about_me{
    max-width: 600px;  
    color: #191919;
    text-align: justify;
    font-size: 1.25rem; 
    font-weight: 300;
    letter-spacing: 0.1rem;

    p{ 
        margin-bottom: 1.5rem; 
    }
}

#photo1{ 
    width: 423px;
    border-radius: 2.5rem; 
    border: 5px solid #212A1C;
}

.resume_link{ 
    color: #191919;
    font-weight: 600; 
    a{ 
        color: #191919;
        text-decoration: underline; 
    }
}
