.about_me_div{ 
    h1{ 
        text-align: center; 
        color: #191919; 
        font-size: 6rem; 
        font-weight: 600; 
        letter-spacing: -0.5rem; 
        margin-bottom: 3rem; 
    }
}

.about_me_container{ 
    margin-left: 3rem; 
    margin-right: 3rem; 
    margin-bottom: 5rem; 
    display: flex; 
    flex-direction: row-reverse; 
    align-items: center; 
    justify-content: space-between; 
    gap: 10rem; 
}

.about_me{
    max-width: 600px;  
    color: #191919;
    font-size: 1rem; 
    font-weight: 400;
    line-height: 1.8; 
    margin-bottom: 4rem; 
    p{ 
        margin-bottom: 1.5rem; 
    }
}

#photo1{ 
    width: 463px; 
    border-radius: 2.5rem; 
    
}

.resume_link{ 
    color: #191919;
    font-weight: 600; 
    a { 
        color: #191919;
    }
}

.resume_link a:hover{ 
    color: #EB3D00; 
}

@media screen and (max-width: 992px ){ 
    #photo1{ 
        max-width: 100%;
    }
    .about_me_container{ 

        display: flex; 
        flex-direction: column-reverse;
        align-items: center;  
        gap: 5rem; 
    }
}

