@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif; 
}

body{ 
    background: rgba(255, 234, 207, 0.60);
}

.container{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}