nav{ 
    min-width: 400px;
    position: relative; 
    
}
nav ul { 
    background-color: #162113; 
    border-radius: 2.5rem; 
    color: #FFEACF; 
    list-style: none; 

    margin-top: 4rem; 
    margin-bottom: 4rem; 
    padding: 1rem 3.5rem;  

    
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 2rem; 
}

nav svg{ 
    position: absolute; 
    top: 40%; 
    left: 10%
}