nav{ 
    min-width: 450px;
    position: relative; 
}
nav ul { 
    background-color: #162113; 
    border-radius: 2.5rem; 
    list-style: none; 

    margin-top: 4rem; 
    margin-bottom: 4rem; 
    padding: 1rem 3.5rem;  

    
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
    align-items: center; 
    
}
.nav_link{ 
    text-decoration: none; 
    color: #FFEACF; 
    position: relative; 
    padding: 1rem ;
}

nav svg{ 
    position: absolute; 
    top: 40%; 
    left: 10%
}

.nav_link.active{ 
    color: #EB3D00; 
    pointer-events: none; 
}

.nav_link:hover{ 
    background-color: rgba(235, 60, 0, 0.85); 
    transition: background-color 0.3s ease-in; 
}

