.project_card{ 
    margin-left: 3rem; 
    margin-right: 3rem; 
    margin-bottom: 5rem; 
    background: linear-gradient(360deg, rgba(25, 25, 25, 0.85) 24.09%, 
    rgba(22, 33, 19, 0.74) 46.04%, 
    rgba(231, 61, 0, 0.70) 94.17%);

    color: #FFEACF;
    border-radius: 2.5rem;
    min-width: 50vw; 
    height: 40vh; 

    display: flex; 
    flex-direction: row;  
    justify-content: space-evenly; 
    align-items: center; 
    gap: 2rem; 
    padding: 2rem;
}

.project_card h1{ 
    margin-top: 5rem; 
    color: #FFEACF;
    font-size: 15rem; 
    font-weight: 600;
    letter-spacing: -1.25rem; 
}

.project_card_label{
    h2{ 
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: -0.5rem; 
    }
    p{ 
        font-size: 1.25rem; 
        font-weight: 300;
    }
} 

@media screen and (max-width: 992px){ 

    .project_card h1{ 
        font-size: 12rem; 
        font-weight: 600;
        letter-spacing: -1rem; 
    }
    
    .project_card_label{
        h2{ 
            font-size: 5rem;
            font-weight: 600;
            
        }
        p{ 
            font-size: 1.25rem; 
            font-weight: 300;
        }
    } 
}

@media screen and (max-width: 660px){ 
    .project_card{ 
        max-width: 80vw; 
        flex-direction: column;
        gap: 0;  
    }
    .project_card h1{ 
        font-size: 8rem; 
        margin-top: 0; 
        margin-bottom: 0; 
    }
    .project_card_label{ 
        h2{ 
            text-align: center; 
            letter-spacing: -0.25rem; 
            font-size: 3rem; 
        }
        p{ 
            text-align: center; 
            font-size: 1rem; 
        }
    }
}

@media screen and (max-width: 430px){ 
    .project_card_label{ 
        h2{ 
            font-size: 2rem; 
        }
    }
}
